.icons {
  position: relative;
  margin-bottom: 30px;
  left: 90%;
}

.header {
    text-align: left;
    margin-left: 9.5rem;
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradientShift 3s ease infinite;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media screen and (max-width: 640px) {
  .header {
    margin-left: 0;
  }
}